site_name: Meine Dokumentation
site_url: https://swi-hdm.github.io/webscraping-intro/
theme:
  name: material
  features:
    - content.code.copy # Hier ist der Copy-Button!
    - content.code.select
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      
nav:
  - Home: index.md
