:root {
  /* Navy Blue */
  --md-primary-fg-color:        #000080; 
  --md-primary-fg-color--light: #1a1a9e; /* Lighter shade for hover */
  --md-primary-fg-color--dark:  #000050; /* Darker shade */
}
